/*d3 INFOGRAPHIC styling*/
body {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.station {
  fill: white;
  opacity: 0.6;
  stroke: #25252550;
  stroke-width:0.3;
}

/* koppen class coloring*/
#slider {
  margin: 20px 0 10px 20px;
  width: 900px;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}

/* koppen class coloring*/
.station.Af {
  fill: #0000ff!important;
}
.station.Am {
  fill: #0178ff!important;
}
.station.Aw {
  fill: #47a9fa!important;
}
.station.BWh {
  fill: #fe0000!important;
}
.station.BWk {
  fill: #fe9594!important;
}
.station.BSh {
  fill: #f4a501!important;
}
.station.BSk {
  fill: #ffdc64!important;
}
.station.Csa {
  fill: #ffff00!important;
}
.station.Csb {
  fill: #c7c800!important;
}
.station.Csc {
  fill: #969600!important;
}
.station.Cwa {
  fill: #96ff97!important;
}
.station.Cwb {
  fill: #63c864!important;
}
.station.Cwc {
  fill: #329733!important;
}
.station.Cfa {
  fill: #c9fe52!important;
}
.station.Cfb {
  fill: #63ff32!important;
}
.station.Cfc {
  fill: #2fc700!important;
}
.station.Dsa {
  fill: #ff01ff!important;
}
.station.Dsb {
  fill: #c900c8!important;
}
.station.Dsc {
  fill: #963195!important;
}
.station.Dsd {
  fill: #966597!important;
}
.station.Dwa {
  fill: #aaafff!important;
}
.station.Dwb {
  fill: #5a78db!important;
}
.station.Dwc {
  fill: #4b4fb4!important;
}
.station.Dwd {
  fill: #310087!important;
}
.station.Dfa {
  fill: #01fffe!important;
}
.station.Dfb {
  fill: #36c8ff!important;
}
.station.Dfc {
  fill: #017d7d!important;
}
.station.Dfd {
  fill: #00475f!important;
}
.station.ET {
  fill: #b2b2b2!important;
}
.station.EF {
  fill: #666666!important;
}
.station.H {
  fill: #000000!important;
}

.edge {
  fill: none;
  stroke: #252525;
  stroke-width: 2px;
  stroke-opacity: 0.1;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}
/* @media only screen and (min-width:768px) {
.highlight {
  stroke: red !important;
}
}*/
.highlight {
  opacity: 1 !important;
  stroke-width: 2px !important;
  stroke-opacity: 0.9 !important;
}

g#voronoi {
  pointer-events: all;
}

/* shadow trick from bl.ocks.org */
#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

/*HTML page styling*/
#content {
max-width:1500px;
width:100%;
margin:0 auto;
}
.notes {
color:gray;
font-size:smaller;
}
.spacer {
height:2em;
}